{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}
{% block body %}
<form action="/question/new" method="post" novalidate>
    {{ form_start(form) }}
            {{ form_row(form.name) }}
            <br>
            {{ form_row(form.email) }}
            <br>
            {{ form_row(form.message) }}
{{ form_end(form) }}
</form>
{% endblock %}